*{
    margin: 0px;
    padding: 0px;
    
    font-family:"微软雅黑"；
}
ul {
	list-style: none;
}
li{
    float: left;
}
body {
	height: 100%;
    width: 100%;
    min-width: 1160px;
}
input{
    outline: none;
}
a{
	text-decoration: none;
	cursor: pointer;
}
#b{
    cursor: pointer;
	transition:all 1s ease;
}
b:link{
    color: #fff;
}
b:visited{
    color: #fff;

}
a:link{
    color: #fff;
}
a:visited{
    color: #fff;

}
#b:hover{
    color: #ffae00;
}
#a:visited{
    color: #ffae00;
}
a img {
	border: none;
}
a > img {
	vertical-align: middle;
    
}
.header{
    width: 100%;
    height: 100px;
    background: #c8305f;
}
.header-top{
    width: 100%;
    height: 85px;
    border-top: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
    min-width: 1160px;
    position: absolute;
    top: 7px;
}
.top-margin{
    width: 1160px;
    height: 90px;
    margin: auto;
    color: #fff
}
.top-left{
    width: 20%;
    height: 90px;
    float: left;
}
.top-left p{
    line-height: 90px;
    width: 150px;
    font-size: 36px;
    cursor: pointer;
}

.top-right{
    width: 56%;
    float: left;
    margin-left: 24%;
    
}
.top-right li{
    float: left;
    line-height: 90px;
    margin-left: 40px;
    font-size: 18px;
    cursor: pointer;
    
}
.top-right .li1{
    color: #ffae00;
}

.bj{
    width: 100%;
    height: 500px;
    position: relative;
}
.bj img{
    width: 100%;
    height: 500px;
}
.anli{
    width: 1160px;
    height: 920px;
    margin: auto;
}
.zhuti{
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 36px;
    color: #626262;
    margin-top: 100px;
    font-weight: 200;
    margin-bottom: 20px;
}
.imges{
    width: 100%;
    height: 770px;
}
.imges img{
    width: 100%;
    height: 233px;
}
.imges ul li{
    width: 31.2%;
    height: 233px;
    list-style: none;
    float: left;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin: 1%;
}
.imges ul .li-big{
    width: 64.4%;
    height: 233px;
    list-style: none;
    float: left;
    overflow: hidden;
    position: relative;
    margin: 1%;
}
.imges ul li .gress{
	position: absolute;
	top: 0;
	left:-100%;
	width: 100%;
	height: 233px;
	text-align: center;
	color: white;
	background: rgba(0,0,0,0.5);
	transition: all 0.2s;  
} 
.imges ul li .gress .p1{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 34px;
	left: 0;
	color: orange;
	font-size: 24px;
    font-weight: bold;
    transition: all 0.2s 0.1s ease-out ;  
}
.imges ul li .gress .p2{
	width:100%;
	text-align: center;
	line-height:20px ;
	position: absolute;
	top: 65px;
	left: 0;
	margin: 20px  0 10px;
	font-size: 14px;
    color: white;
    transition: all 0.2s 0.2s ease-out ;  
}
.imges ul li .gress .p3{
	position: absolute;
	bottom:0;
	left: 25%;
	width: 50%;
	height: 38px;
	line-height: 38px;
	border-radius: 20px;
	margin:50px auto;
	border: 1px solid;
    cursor: pointer;
	transition: all 0.2s 0.4s ;
}
.footer{
    width: 100%;
    height: 120px;
    background: #c8305f;
    color: #fff;
    padding-top: 35px;
    text-align: center;
}
.footer-margin{
    width: 1100px;
    height: 100px;
    margin: auto;
    border-top: 1px solid #fff;
}

.footer-wen ul{
    width:59%;
    height: 50px;
    line-height: 60px;
    margin: auto;
    font-size: 18px;
}
.footer-wen .li1{
    margin-left: 0px;
}
.footer-wen li{
    margin-left: 50px;
}
.footer p{
    margin-top: 10px;
    font-size: 14px;
}